<div class="product">
  <div style="margin-bottom: 20px;">
    <img src="/DevFrnd.png" alt="Developer Friend" width="30px" style="vertical-align: text-bottom;">
    <span style="font-family: cursive; font-size: 24px; font-weight: bold;">Developer Friend</span>
  </div>
  {{outlet}}
</div>